doctype

html(lang="ru")

  head

    meta(charset="utf8")

    title= page. title


    link(rel="stylesheet", href="/css/index.css", type="text/css")


  body

    div
      h1= page. header


    form(action = "/signin", method = "post")
      input(type = "text", name = "login", value = "", placeholder = "Login")
      br


      input(type = "password", name = "password", value = "", placeholder = "password")
      br


      input(type = "submit", value = "signin")
