doctype 

html(lang="ru")
  head
    meta(charset="utf8")
    title support my


  body
    div
      h1 Поддержка моего сайта


    div(role="navigation")
      include parshells/menu.pug
      +menu ()


